*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: tahoma;
}
.container{
    width: 960px;
    margin: 10px auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6600;
}
header img{
    padding: 15px 8px;
    width: 20%;
}
form{
    padding-right: 10px;
}
form button{
    padding: 0 8px;
    background-color:#201265;
    color:white;
    border: white 1px solid;
    height: 20px;
}
nav ul{
    display: flex;
    
    background-color: #0057b1;
    margin-top: 8px;
    line-height: 45px;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    text-align: center;
    padding: 0 15px;
    color:white;
    text-decoration: none;
}
h1{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.content{
    width: 100%;
    display: flex;
}
.news img{
    width: 100%;
}
.news{
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 8px;
    margin-bottom: 10px;
}
.news1 img{
    width: 100%;
}
.news1{
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 8px;
    margin-bottom: 10px;
}
